
*{
   font-family: "Cairo", sans-serif;
}
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
 /* Navbar  */
    .navbar-custom {
      background-color: white;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      padding: 1rem 2rem;
    }
    .navbar-brand img {
      height: 50px;
    }
    .nav-link {
      color: #000;
      font-weight: 500;
      margin-right: 1rem;
    }
    .nav-link:hover {
      color: #34c77e;
    }
    .btn-session {
      background-color: #1c2541;
      color: white;
      border-radius: 8px;
    }
    .btn-session:hover {
      background-color: #162036;
    }

.hero {
  position: relative;
  background: url('../images/herobackground.png') no-repeat center center;
  background-size: cover;
  color: white;
  overflow: hidden;
  height: 140vh;
  padding: 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 320px;
    right: 0;
    width: 16rem;
    height: 100%;
    background: url(../../assets/images/beforeimg-hero-white.png) no-repeat center center;
    background-size: contain;
    pointer-events: none;
    z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}
   
    .hero-content {
      max-width: 600px;
    }
    .carousel-control-prev,
    .carousel-control-next {
      filter: invert(1);
    }
    .carousel-indicators [data-bs-target] {
      background-color: #34c77e;
    }

    @media (max-width: 768px){
      .hero {
        padding: 80px 0 40px 0;
      }
      .hero-content {
        max-width: 100%;
      }
    }