* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tajawal';
    background: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    width: 30%;
    max-width: 450px;
    /* padding: 20px; */
}

.login-card {
    background: #ffffff;
    border-radius: 22px;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.05);
}

.logo img {
    width: 200px;
    margin-bottom: 25px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #0a2c54;
    margin-bottom: 10px;
}

.subtitle {
    color: #8b95a7;
    margin-bottom: 40px;
    font-size: 18px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 18px 20px;
    border-radius: 12px;
    border: none;
    background: #f1f4fa;
    font-size: 16px;
    outline: none;
}

.password-group i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #a0a8b8;
    cursor: pointer;
}

.btn-login {
    width: 100%;
    background: #67c39f;
    color: white;
    border: none;
    padding: 18px;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: #56b18e;
}
